version: "0.0.1"
services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: "pguserdev"
      POSTGRES_PASSWORD: "6E98*2ZfNMp"
      POSTGRES_DB: "prayertimesdb"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432

  backend:
    restart: always
    container_name: backend
    command: bash -c "python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    env_file:
      - ./backend/.env
    build:
      context: ./backend/
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    restart: always
    command: npm run dev
    container_name: frontend
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    stdin_open: true
    depends_on:
      - backend

volumes:
  postgres_data:
